In [0]:
import pandas as pd

In [0]:
data = pd.read_csv('query (1).csv')

In [3]:
data.head()

                       time  latitude  ...  locationSource  magSource
0  2019-11-05T20:52:01.377Z  -57.9632  ...              us         us
1  2019-11-04T22:43:32.256Z  -18.5730  ...              us         us
2  2019-11-04T21:53:25.273Z  -31.8124  ...              us         us
3  2019-11-02T18:08:41.079Z  -55.6659  ...              us         us
4  2019-10-31T01:11:19.120Z    6.9098  ...              us         us

[5 rows x 22 columns]

In [0]:
data['datetime'] = pd.to_datetime(data['time'])

In [0]:
data['year'] = data['datetime'].dt.year
data['month'] = data['datetime'].dt.month

In [0]:
data['Country'] = data['place'].str.split(',').apply(lambda x: x[-1].strip())

In [7]:
data['Country'].value_counts().head(20)

Indonesia                           704
Papua New Guinea                    565
Japan                               448
Vanuatu                             336
Chile                               326
Alaska                              305
Philippines                         253
Kuril Islands                       232
Tonga                               229
Solomon Islands                     209
Fiji region                         185
Japan region                        171
Mexico                              168
Russia                              154
New Zealand                         127
South Sandwich Islands region       114
south of the Fiji Islands           110
southeast of the Loyalty Islands    106
China                               106
Molucca Sea                          92
Name: Country, dtype: int64

In [8]:
data.shape

(8271, 26)

In [9]:
data.dtypes

time                            object
latitude                       float64
longitude                      float64
depth                          float64
mag                            float64
magType                         object
nst                            float64
gap                            float64
dmin                           float64
rms                            float64
net                             object
id                              object
updated                         object
place                           object
type                            object
horizontalError                float64
depthError                     float64
magError                       float64
magNst                         float64
status                          object
locationSource                  object
magSource                       object
datetime           datetime64[ns, UTC]
year                             int64
month                            int64
Country                         object
dtype: object

In [0]:
data = data.sort_values('datetime', ascending=True)
data['eq_count'] = data.groupby('Country').cumcount()

In [11]:
data.head()

                          time  ...  eq_count
8270  1960-10-30T12:14:37.000Z  ...         0
8269  1960-11-01T08:45:59.000Z  ...         1
8268  1960-11-02T17:14:50.000Z  ...         0
8267  1960-11-05T20:20:53.000Z  ...         0
8266  1960-11-06T04:38:20.000Z  ...         0

[5 rows x 27 columns]

In [0]:
crosstab = pd.crosstab(data['Country'], [data['year']], values=data['eq_count'], aggfunc=max)

In [0]:
# Reformat data to fillforward for empty years
crosstab_new = crosstab.T.fillna(method='ffill').fillna(0).T

In [21]:
crosstab_new.head()

year                                       1960  1961  1962  ...  2017  2018  2019
Country                                                      ...
                                            0.0   0.0   0.0  ...   3.0   3.0   3.0
2004 Sumatra - Andaman Islands Earthquake   0.0   0.0   0.0  ...   0.0   0.0   0.0
2019 Ridgecrest Earthquake Sequence         0.0   0.0   0.0  ...   0.0   0.0   0.0
Aegean Sea                                  0.0   0.0   0.0  ...  10.0  10.0  10.0
Afghanistan                                 0.0   0.0   1.0  ...  62.0  63.0  63.0

[5 rows x 60 columns]

In [0]:
crosstab_new.reset_index().to_csv('eq_pivot.csv', index=False)

In [18]:
crosstab_new.reset_index().head()

year                                    Country  1960  1961  ...  2010  2011  2012
0                                                 0.0   0.0  ...   0.0   0.0   0.0
1     2004 Sumatra - Andaman Islands Earthquake   0.0   0.0  ...   0.0   0.0   0.0
2           2019 Ridgecrest Earthquake Sequence   0.0   0.0  ...   0.0   0.0   0.0
3                                    Aegean Sea   0.0   0.0  ...  10.0  10.0  10.0
4                                   Afghanistan   0.0   0.0  ...  59.0  59.0  59.0

[5 rows x 54 columns]